# Dependencias
node_modules/

# Variables de entorno (SECRETOS)
.env
.env.*
# PERMITIR archivos de ejemplo y configuración pública de producción
!.env.example
!.env.production
!ansible/templates/env.j2

# Logs
npm-debug.log
yarn-error.log

# Docker
*.tar

# Sistema operativo
.DS_Store

# IDE / Editor
.vscode/
.idea/

# Coverage
coverage/