version: "3.9"

services:

  users-service:
    image: luisfer34/devsecops-ucb:users-service-{{ image_tag }}
    container_name: users-service
    restart: unless-stopped
    environment:
      PORT: "3001"
      JWT_SECRET: "{{ jwt_secret | default('changeme-prod-secret') }}"
    ports:
      - "3001:3001"
    networks:
      - backend-net

  academic-service:
    image: luisfer34/devsecops-ucb:academic-service-{{ image_tag }}
    container_name: academic-service
    restart: unless-stopped
    environment:
      PORT: "3002"
      JWT_SECRET: "{{ jwt_secret | default('changeme-prod-secret') }}"
    ports:
      - "3002:3002"
    networks:
      - backend-net

  api-gateway:
    image: luisfer34/devsecops-ucb:api-gateway-{{ image_tag }}
    container_name: api-gateway
    restart: unless-stopped
    environment:
      PORT: "3000"
      JWT_SECRET: "{{ jwt_secret | default('changeme-prod-secret') }}"
      USERS_SERVICE_URL: "http://192.168.122.6:3001"
      ACADEMIC_SERVICE_URL: "http://192.168.122.6:3002"
    ports:
      - "3000:3000"
    networks:
      - backend-net
    depends_on:
      - users-service
      - academic-service

  frontend:
    image: luisfer34/devsecops-ucb:frontend-{{ image_tag }}
    container_name: frontend
    restart: unless-stopped
    ports:
      - "80:80"
    networks:
      - backend-net
    depends_on:
      - api-gateway

networks:
  backend-net:
    driver: bridge
